
body,
html,
.full-size {
  height: 100%;
  width: 100%;
}

.flex {
  display: flex;
}

.flex-down {
  display: flex;
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}

.textmsg {
  height: 500px;
  width: 300px;
}

.report {
  padding: 0 20px;
}

.pad-top {
  padding: 50px 0;
}

.footer {
  bottom: 0;
  left: 20px;
  position: absolute;
}
